@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Varela+Round&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: aliceblue;
}
nav li{
font-family: 'Ubuntu', sans-serif;
      
}
.brand{
    font-family: 'Varela Round', sans-serif;

}
nav ul{
    display: flex;
    list-style-type: none;
    height: 57px;
    background-color: rgb(0, 0, 0);
    color: white;
    /* justify-content: center; */
    align-items: center;
}
.brand{
    display: flex;
    align-items: center;
}
.brand img{
    height: 57px;
}
nav li{
    padding: 0px 15px;
}
.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 80%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px 20px;
    background-image: url('bg.jpg');
    background-size: cover;
}
.songItemContainer{
    margin: 5px 0;
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#myProgressBar{
    width: 75vw;
    cursor: pointer;
}
.icons{
    margin: 10px 0;

}
.icons i:hover{
    cursor: pointer;
}
.songItem{
    height: 40px;
    margin:30px;
    display: flex;
    background-color:white;
    width: 60%;
    color: black;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}
.songItem img{
    width: 50px;
    margin: 0 12px;
    border-radius:18px ;
}
.timestamp{
    margin: 0 20px;
}
.timestamp i{
cursor: pointer;
}
.songInfo {
    position: absolute;
    left: 12vw;
    justify-content: center;
    display: flex;
    align-items: center;
}
.songInfo img {
    width: 114px;
    height: 45px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
